#check{
    position: relative;
    left: 35px;
    bottom: 150px;
}
.form1{
    border: 2px solid #ad9d80;
    padding: 150px 5px;
    width: 245px;
    margin-left:500px;
    margin-top:40px;
    height: 20px;
    background-color: beige;
    border-radius: 4px;
}
.form1 input,
.form1 div{
    padding: 3px 5px;
    position: relative;
    left: 40px;
    bottom: 135px;
}

.inp{
    margin-bottom: 15px;
}

#pass2{
    margin-bottom: 15px;
}
#pass1{
    margin-bottom: 2px;
}
.form1 .button{
    padding: 5px 10px;
}
.button{
    margin-top: 10px;
    margin-left: 95px;
}
