@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

body {
    background: url(./images/bg.png) repeat;
}

.btn-medium {
    width: 40%;
}
.btn-small {
    font-size: 10px;
    padding: 5px;
    width: 35%;
}
.btn-indent {
    margin-top: 10px;
    padding: 12px 20px;
}
.btn-l {
    float: left;
}
.btn-r {
    float: right;
}
.re-captcha {
    margin: 20px 1px 1px 70px;
}

.text-label {
    padding-top: 10px;
}
.scrol-table{
    height:230px;
    width:400px;
    overflow: scroll;
}

/*****************************Выпадающее меню*******************************/

/* main menu styles */
#container .nav, .nav ul {
    font-family:verdana;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
}
#container .nav {
    height:50px;
    left:0;
    overflow:hidden;
    top:0;
}
#container .nav li {
    float:left;
    position:relative;
    z-index:10;
}
#container .nav li a {
    color:#fff;
    display:block;
    float:left;
    font-size:14px;
    height:45px;
    line-height:40px;
    padding:0 10px;
    position:relative;
    text-decoration:none;
    z-index:20;
}
#container .nav li:first-child a {
    padding-left:15px;
}
#container .nav li ul li:first-child a {
    background-image:none;
    padding-left:10px;
}
#container .nav li.pad {

    display:block;
    height:51px;
    width:35px;
}
#container .nav ul {
    background:rgba(0, 0, 0, 0.5);
    height:auto;
    padding:10px 0;
    position:absolute;
    top:-115px;
    width:150px;
    z-index:1;

    border-radius:8px; /*some css3*/
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    transition:0.8s ease-in-out;
    box-shadow:2px 2px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:2px 2px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow:2px 2px 3px rgba(0, 0, 0, 0.5);
    -moz-transition:0.8s ease-in-out;
    -o-transition:0.8s ease-in-out;
    -webkit-transition:all 0.8s ease-in-out;
}
#container .nav ul li {
    width:180px;
}
#container .nav ul li a {
    background:transparent;
    height:20px;
    line-height:20px;
    width:160px;
}
#container .nav:hover {
    height:200px;
}
#container .nav li:hover ul {
    -o-transform:translate(0,161px);
    -webkit-transform:translate(0,161px);
}


/*****************************Форма доставки сообщений*******************************/
#sendMes-form {
    margin: auto;
    padding: 15px;
    width: 400px;
    height: 380px;
}
#sendMes-form h3 {
    text-align: center;
    border-color: #363b41 white; /* Цвет границы */
    border-width: 2px; /* Толщина границы */
    border-radius: 10px;
    border-style: solid; /* Стиль границы */
}
#sendMes-form .text {
    padding-left: 8px;
    width:  300px;
    height: 70px;
    border:2px solid #999;
    font-size:13px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
#sendMes-form .hr {
    margin-top: 0;
    border: 1px solid #999;
}
#sendMes-form h5{
    margin-top: 20px;
    margin-bottom: 0;
}
#sendMes-form .textMess{
    margin-top: 5px;
}
.shadow {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}


/****************************Голубая кнопка********************************/
.reg-form {
    padding-top: 120px;
}
.footer .btn-blue,
#login-form .btn-blue {
    cursor: pointer;
    font-weight: bold;
    text-decoration:none;
    color:#fff;
    font-size: 14px;
    position:relative;
    text-align: center;
    border-left:solid 1px #198d98;
    /*margin-left:35px;*/
    background: #1dabb8;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
    -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}
.footer .btn-blue:hover,
#login-form .btn-blue:hover{
    background: #198d98;
}
.footer .btn-blue:active,
#login-form .btn-blue:active {
    top:3px;
    background: #198d98;
    -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
    -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
    -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}
.footer .btn-blue:active::before,
#login-form .btn-blue:active::before {
    top:-3px;
    -webkit-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
    -moz-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
    -o-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
    box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
}


/**********************Горизонтальное меню**************************/
#container .nav {
    height: 48px;
    display: inline-block;
    float: left;
}
#container .nav-right {
    float: right;
}
#container .NavLink { cursor: pointer; }
#container .NavLink {
    background-color: #363b41;
}
#container .nav > li, .nav:active > .active {
    float: left;
    position: relative;
    margin: 0 0 4px;
    height: 44px;
    color: #ccc;
    text-shadow: 0 1px rgba(0, 0, 0, 0.9);
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-bottom-color: #1f2326;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0));
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 2px #262a2e, 0 3px #1f2326, 0 4px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 2px #262a2e, 0 3px #1f2326, 0 4px 3px rgba(0, 0, 0, 0.2);
}
#container .nav > li:hover,
#container .nav ul .NavLink:hover{
    color: #1dabb8;
    text-shadow: 0 1px black, 0 0 20px rgba(255, 255, 255, 0.5);
}
#container .nav > li:first-child {
    border-left-width: 1px !important;
    border-left-color: #212425;
    border-radius: 5px 0 0 5px;
}
#container .nav > li:last-child {
    border-right-width: 1px !important;
    border-right-color: #212425;
    border-radius: 0 5px 5px 0;
}
#container .nav > li + li, .nav:active > .active + li, .nav:active > li + .active {
    border-left-width: 0;
}
#container .nav > li > a {
    display: block;
    line-height: 44px;
    padding: 0 20px;
    font-size: 12px;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
    outline: 0;
}
#container .nav .nav-icon {
    padding: 0 15px;
}
#container [class*="icon-"] {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    background-image: url("./images/icons.png");
    background-repeat: no-repeat;
    background-color: transparent;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
}
#container .icon-home {
    background-position: 0 0;
}


/*********************форма авторизации********************/
#login-form [class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}
#login-form .span {
    background-color: #363b41;
    border-radius: 3px 0px 0px 3px;
    color: #606468;
    display: block;
    float: left;
    height: 45px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}
#login-form fieldset .fontawesome-lock, #login-form fieldset .inp-pass{
    margin: 1px 0 0 0;
}
#login-form {
    margin: 0 76% auto;
    width: 300px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
#login-form h1 { margin: 0; }
#login-form a {
    color: #999;
    text-decoration: none;
}
#login-form fieldset {
    border: none;
    margin: 0;
}
#login-form input {
    border: none;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
}
#login-form input[type="submit"] { cursor: pointer; }
#login-form input[type="submit"]:hover { background: #198d98; }
#login-form .clearfix { *zoom: 1; }
#login-form .clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
#login-form .clearfix:after { clear: both; }
#login-form h1 {
    background-color: #282830;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-size: 14px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}
#login-form fieldset {
    background: #fff;
    border-radius: 0 0 5px 5px;
    padding: 20px;
    position: relative;
}
#login-form fieldset:before {
    background-color: #fff;
    content: "";
    height: 8px;
    left: 50%;
    margin: -4px 0 0 -4px;
    position: absolute;
    top: 0;
    transform: rotate(45deg);
    width: 8px;
}
#login-form input {
    font-size: 14px;
}
#login-form input[type="text"],
#login-form input[type="password"] {
    border: 1px solid #dcdcdc;
    padding: 12px 10px;
    width: 210px;
}
#login-form input[type="text"] {
    border-radius: 3px 3px 0px 0px;
}
#login-form input[type="password"] {
    border-top: none;
    border-radius: 0px 0px 3px 3px;
}
#login-form footer {
    font-size: 12px;
    margin-top: 16px;
}
#login-form .info {
    background: #e5e5e5;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 0 10px 0 0;
    text-align: center;
    width: 20px;
}
#login-form .vladmaxi-top{
    line-height: 24px;
    font-size: 11px;
    background: rgba(0, 0, 0, 0.08);
    text-transform: uppercase;
    z-index: 9999;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
    -webkit-animation: slideOut 0.5s ease-in-out 0.3s backwards;
}
#login-form @-webkit-keyframes slideOut{
    0%{top:-30px; opacity: 0;}
    100%{top:0px; opacity: 1;}
}
#login-form .vladmaxi-top a{
    padding: 0px 10px;
    letter-spacing: 1px;
    color: #333;
    text-shadow: 0px 1px 1px #fff;
    display: block;
    float: left;
}
#login-form .vladmaxi-top a:hover{
    background: #fff;
}
#login-form .vladmaxi-top span.right{
    float: right;
}
#login-form .vladmaxi-top span.right a{
    float: left;
    display: block;
}